.mainWrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    position: relative;
    overflow-y: auto;
    background-color: #fffaf0;
    flex: 1;
    padding: 15px;
}

header, footer {
    padding: 10px 15px;
}

header {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
}
footer {
    background-color: aliceblue;
}

.searchBarWrapper {
    flex-basis: 90%;
    display: flex;
    justify-content: center;
}
.linkWrapper {

}

.item {
    height: 400px;
    width: 400px;
    margin: 5px 0;
    background-color: lightblue;
}

